.advanced-wrapper {
    border: 1px solid #ccc;
    margin: 15px auto;
}

.advanced-wrapper {
    width: 100%;
}

.editor-container {
    height: 400px;
}

.toolbar-container {
    border-bottom: 1px solid #ccc;
}

.text-wrapper .editor-container {
    display: none;
}
