#div_container {
    width: 50%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}

#buttons_container {
    margin-top: 40px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointer;
}

#button_menu {
    color: #000;
    background-color: azure;
    border-color: gainsboro;
}

#button_menu:active {
    background-color: lightgreen;
}

#button_logout {
    float: right;
    color: #fff;
    background-color: darksalmon;
    border-color: gainsboro;
}

#button_logout:active {
    background-color: tomato;
}

#cart_table {
    width: 100%;
    border-collapse: collapse;
    color: darkblue;
    font: 14px Calibry;
}

#cart_table th, td {
    padding: 5px 10px;
    border: 1px solid gainsboro;
}

#cart_table thead th {
    text-align: left;
}

#cart_table tbody tr:nth-child(odd) {
    background-color: oldlace;
}

#cart_table tbody tr:nth-child(even) {
    background-color: #fff;
}