button {
    color: gray;
    font-size: 14px;
    font-family: Calibri;
}

body {
    background-color: #F5F5F5;
    padding: 0px;
    margin: 0px;
    color: #222222;
}

a {
    color: #CD5C5C;
}

.right-float {
    float: right;
}

.delivery_inform p {
    margin: 0;
}