.about {
    display: inline-block;
    width: 20%;
    font-size:14px;
    text-align: center;
    color: #222222;
    margin: 0 6% 40px;
}

.about a {
    color: #222222;
    text-decoration: none;
}

.img {
    max-width:70%;
    height:auto;
    text-align:center
}

span {
    color: #CD5C5C;
}

.text {
    color: gray;
    line-height: 0.2;
}